.forInput {
  & label {
    margin-bottom: 0.8rem;
  }

  margin-top: 1rem;
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .input-tag {
    width: 300px;
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    &::placeholder {
      color: #aaa;
    }
    &:focus {
      outline: none;
    }
  }
  & textarea {
    height: 7rem;
  }
  & button {
    height: 2rem;
    border-radius: 15px;
  }
}
.inputButton {
  justify-content: center !important;
}
